# ========================================
# OS / IDE 관련
# ========================================

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IntelliJ / JetBrains
.idea/
*.iml
*.ipr
*.iws
out/

# VSCode
.vscode/